html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    background-color:rgba(0, 0, 0, 0.952);  
      
}


.p {
color: whitesmoke;
}

.credentials {
color: whitesmoke;
}

.navbar {
    display:flex;
    justify-content: space-between;
    background:rgb(60, 75, 60);
    color: black; 
}


.nav {
display: flex;
margin: 0;
padding: 0;
list-style: none; 
gap: 1px;   
}


.nav li {
flex-shrink: 1;
flex-grow: 1;
}  


.img img {
    width:100% ;
    height: 250px;
    
}


.credentials {
    font-style: italic;
    max-width: auto; 
    margin-top: 0;
    padding:0 1em
}


#contact-me {
    padding: 40px;
    margin: 40px;
}


#about-me div {
    display:flex;
}


#about-me img {
    width:20%;
    float: left;
    height: 200px;
    margin-right: 30px;
    border: 3px solid whitesmoke;
}


#work section{
   grid-gap: 10px;
    display: flex;
    display:grid;
   justify-content: center;
}


#work img { 
    height: 300px;
    width: 400px;   
    border: 5px solid whitesmoke;
    flex-shrink: 1;
    flex-grow: 1;
}


#work div {
    display: flex;
    display:grid;
    justify-content: center;
    width: auto;
    height: auto;
}


#work div img{
    max-width: 100%;   
    width:812.5px;
    height:300px;
    flex-shrink: 1;
    flex-grow: 1;
}


#work #pre-work {
    max-width: 100%;
    grid-column: 1;
    grid-row:1
}


#work #coding {
    max-width: 100%;
    grid-column: 2;
    grid-row:1
}


#work #new-beginnings {
    max-width: 100%;
    grid-column: 1;
    grid-row: 2;
}


#work #stay-tuned {
    max-width: 100%;
    grid-column: 2;
    grid-row: 2;
}


.credentials p {
vertical-align: top;
}


h2::before { 
    font-family: impact;
    content: '⍣';
    color: whitesmoke;
    margin-right: 5px;
}


.nav a {
    padding: 8px 12px;
    color:inherit;
    border: 3px solid black;
    display: block;
}


.nav a:hover {
    background-color: lightgreen;
}


.nav a:active {
    outline: none;
    border-color: aliceblue;
    box-shadow: white;
}


.credentials p{
    text-align: justify;
}


#contact-me {
    display:flex;
    align-items: center;
}


#contact-me h2 {
    display: inline;
    margin: 0;
    margin-right: 35px;
}


.bottom {
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-around;
    width: 75%;
    margin: 0;
    padding: 0;
    list-style: none; 
    color: whitesmoke;
}


.bottom a {
    color: whitesmoke;
}


@media screen and (max-width: 768px) {
    #work section {
      display: flex;
      flex-direction: column;
      
    }
  }


  @media screen and (max-width: 768px) {
    .navbar {
      display: flex;
      flex-direction: column;
      
    }
  }


  @media screen and (max-width: 786px) {
    #work div{
      display: flex;
      flex-direction: column;
      
    }
  }
 

 

  


