html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.952);

}


.p {
    color: whitesmoke;
}

.credentials {
    color: whitesmoke;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background: rgb(55, 9, 221);
    color: black;
    margin: 4px 4px;
    padding: 2px 2px 2px 2px;
}


.nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1px;
}


.nav li {
    flex-shrink: 1;
    flex-grow: 1;
}
.nav a {
    padding: 8px 12px;
    color: inherit;
    border: 3px solid black;
    display: block;
}


.nav a:hover {
    background-color: lightgreen;
}


.nav a:active {
    outline: none;
    border-color: aliceblue;
    box-shadow: white;
}


.img img {
    width: 100%;
    height: 250px;

}


.credentials {
    font-style: italic;
    margin-top: 0;
    padding: 0 1em
}


#contact-me {
    padding: 40px;
    margin: 40px;
}


#about-me div {
    display: flex;

}


#about-me img {

    float: left;
    height: 200px;
    margin-right: 30px;
    border: 3px solid whitesmoke;
}


#work {
    grid-gap: 10px;
    display: grid;
    justify-content: center;

}


#work img {
    max-width: 100%;
    display: flex;
    height: 300px;
    width: 400px;
    border: 5px solid whitesmoke;
    flex-shrink: 1;
    flex-grow: 1;
    
}


#work div {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 5px;
    justify-content: center;

}


img#refactoring {
max-width: 100%;
    width: 814px;
    flex-shrink: 1;
    flex-grow: 1;
    

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: repeat(2 1fr);
    justify-content: center;

}

.image-container:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.image-container:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}

.image-container:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
}

.image-container:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
}

.image-container {
    position: relative;
    width: 100%;
    grid-column: 1;
    grid-row: 1;
}

.image-container-img {
    width: 100%;
}

.text-overlay {
    position: absolute;
    justify-content: center;
    padding: 8px;
    max-width: 100%;
    top: 75%;
    left: 4px;
    height: 22px;
    width: auto;
    border: 2px solid whitesmoke;
    background: black;
}



.heading {
    color: black;
    position: absolute;
}

.credentials p {
    vertical-align: top;
}


h2::before {
    font-family: impact;
    content: '⍣';
    color: whitesmoke;
    margin-right: 5px;
}




.credentials p {
    text-align: justify;
}


#contact-me {
    max-width: 100%;
    display: inline;
    display: flex;
    align-items: center;
}


#contact-me h2 {
    
    display: inline;
    margin: 0;
    margin-right: 35px;
}


.bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 75%;
    margin: 0;
    padding: 0;
    list-style: none;
    color: whitesmoke;
}


.bottom a {
    color: whitesmoke;
}


@media screen and (max-width: 768px) {
    #work section {
        display: flex;
        flex-direction: column;

    }
}


@media screen and (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: column;

    }
}


@media screen and (max-width: 786px) {
    #work div {
        display: flex;
        flex-direction: column;

    }
}

@media screen and (max-width: 786px) {
    .image-container {
        display: flex;
        flex-direction: column;

    }
}


@media screen and (max-width: 786px) {
    #work img {
        display: flex;
        flex-direction: column;

    }
}

@media screen and (max-width: 786px) {
    .img#refactoring {
        display: flex;
        flex-direction: column;

    }
}
@media screen and (max-width: 786px) {
    #work {
        display: flex;
        flex-direction: column;

    }
}